<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Coded birthday card
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        Happy Birthday Caitlin!
        
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <p class="nhsuk-lede-text">
        Today you turn 24... thats pretty damn old.
      </p>

      <hr>

      <h2>
        Happy Birthday to you
      </h2>

      <p>
       Hip hip huray! 
      </p>
      
      <p>
        You'll find an entertaining video 
        <div class="nhsuk-action-link">
  <a class="nhsuk-action-link__link" href="https://www.youtube.com/watch?v=8G9DPU6xnzY">
    <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M0 0h24v24H0z" fill="none"></path>
      <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
    </svg>
    <span class="nhsuk-action-link__text">Activate Song</span>
  </a>
</div>
      </p>

      <p>
        <figure class="nhsuk-image">
  <img class="nhsuk-image__img" src="https://i.pinimg.com/originals/9e/c8/a4/9ec8a43b11a140b9afd05062475d98aa.jpg">
</figure>
      </p>

      <hr>

      <h2>
        Documentation
      </h2>

      <ul>
        <li>
          Get started with <a href="/docs">how to guides and page templates</a>
        </li>
        <li>
          Copy and paste styles and components from the <a href="https://service-manual.nhs.uk/design-system">NHS digital service manual</a>
        </li>
      </ul>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
