<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Coded birthday card
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        Happy Birthday Caitlin!
        
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <p class="nhsuk-lede-text">
        Today you turn 24... thats pretty damn old.
      </p>

      <hr>

      <h2>
        Happy Birthday to you
      </h2>

      <p>
       Hip hip huray! 
      </p>
      
      <p>
        You'll find anentertaining video here <strong>/app/views/index.html</strong>.
      </p>

      <p>
        <figure class="nhsuk-image">
  <img class="nhsuk-image__img" src="https://i.pinimg.com/originals/9e/c8/a4/9ec8a43b11a140b9afd05062475d98aa.jpg">
</figure>
      </p>

      <hr>

      <h2>
        Documentation
      </h2>

      <ul>
        <li>
          Get started with <a href="/docs">how to guides and page templates</a>
        </li>
        <li>
          Copy and paste styles and components from the <a href="https://service-manual.nhs.uk/design-system">NHS digital service manual</a>
        </li>
      </ul>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
